html, body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
a.navbar-brand > img {
    width: 37px;
    height: 37px;
}
.gradient {
    background: rgb(184,88,132);
    background: linear-gradient(90deg, rgba(184,88,132,1) 0%, rgba(201,114,61,1) 45%, rgba(188,166,91,1) 100%);
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: white;
}

img.first {
    height: 300px;
    width: 400px;
}
 img.second {
     height: 400px;
     width: 300px;
 }
 .feature {
    color: #fff;
    
 }