html, body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
a.navbar-brand > img {
    width: 45px;
    height: 39px;
}
.gradient {
    background: rgb(184,88,132);
    background: linear-gradient(90deg, rgba(184,88,132,1) 0%, rgba(201,114,61,1) 45%, rgba(188,166,91,1) 100%);
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: rgb(235, 223, 201);
}

img.first {
    height: 300px;
    width: 400px;
}
 img.second {
     height: 400px;
     width: 300px;
 }

 .feature {
    color: rgb(235, 223, 201);
 }


.feature ul {
   padding-left: 2rem;
   list-style-type: none;
}

.feature ul li {
   padding-left: 2rem;
   background-image: url(star-regular.svg);
   background-repeat: no-repeat;
   line-height: 1.5rem;
   margin-bottom: 1rem;
}

 .icon {
    color: rgb(235, 223, 201);
    height:5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
 }
 .gallery {
    background-color: rgb(242, 201, 143);
    color: rgb(167, 65, 75)

 }
 .gallery img {
    border-radius: 5%;
 }
 .services img {
    height: 310px;
    width: 240px;
 }
 .services {
    color: rgb(235, 223, 201);
 }
 .contact img {
    height: 300px;
    width: 230px;
 }

 footer {
    color: rgb(235, 223, 201);
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
 }
 
 

  img.friends {
   height: 350px;
   width: 262px;
   border-radius: 3%;
  }

  img.awards {
   height: 340px;
   width: 400px;
   border-radius: 3%;
  }

  img.ppf {
   height: 350px;
   width: 350px;
   border-radius: 3%;
  }

   img.flex {
      height: 300px;
      width: 280px;
   }